body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family: montserrat, sans-serif;
}
.container{
    height: 100vh;
    background-image: url("bg.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 260px;
    height: 140px;
    border: 1px solid;
    border-radius: 25px;
    padding: 15px;
    backdrop-filter: blur(5px);
    overflow: hidden;
}
.card::before{
    content: "";
    width: 30%;
    background-color: rgba(255, 255, 255, .5);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: skew(20deg) translateX(400%);
    transition: .5s;
}
.card:hover::before
{
    transform: skew(20deg) translateX(-130%);
}
.bank-name{
    text-align: end;
}
.sim{
    width: 40px;
    position: relative;
    top: -26px;
}
.number{
    position: relative;
    top: -37px;
    left: 5px;
    font-size: 20px;
    letter-spacing: 1.5px;
}
.owner-detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: -70px;
    left: 5px;
    font-size: 19px;
}
.VISA-LOGO{
    width: 54px;
    position: relative;
    
}